body {
    background-color: #008080;
  }
  
  textarea {
    resize: none;
  }
  
  .title {
    color: #fff;
  }
  
  .has-text-white {
    color: #fff !important;
  }
  
  .has-text-centered {
    text-align: center !important;
  }
  
  .is-info {
    border-color: #fff !important;
    color: #fff !important;
  }
  
  .is-success {
    border-color: #fff !important;
    color: #fff !important;
  }
  
  .button {
    margin-top: 500px;
  }
  
  .button i {
    margin-right: 0.5rem;
  }
  